* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/***** BANNER SECTION *****/

#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

#banner div {
  width: 26.25rem;
}

h1 {
  font-weight: 700;
  font-size: 2.9rem;
  color: #009688;
  margin-bottom: 2.5rem;
  margin-top: 7.6rem;
}

#banner p {
  font-weight: 300;
  font-size: 1.25rem;
}

#banner img {
  margin: 3rem 0 5.5rem;
}

/***** POSTS SECTION *****/

#posts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 7.5rem;
  padding: 6.8rem 6.25rem;
  background-color: #E5E5E5;
}

.post {
  width: 32rem;
}

.post img {
  width: 32rem;
  height: 16rem;
  background-color: #C4C4C4;
  margin-bottom: 1.25rem;
}

h2 a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.9rem;
  color: #FF4081;
}

.post p {
  font-weight: 300;
  font-size: 1.1rem;
  margin-top: 1.2rem;
}


/***** RESPONSIVE *****/

@media (max-width: 920px) {
  #banner {
    margin: 0 auto;
    padding: 0 2rem;
  }

  #posts-list {
    padding: 6rem 0;
    gap: 4rem;
  }

  .post {
    width: 25rem;
  }

  img {
    max-width: 25rem;
    height: auto;
  }
}

@media (max-width: 690px) {
  #banner {
    text-align: center;
    margin: 0 3rem;
  }

  h1 {
    font-size: 2rem;
    margin: 2rem auto;
  }

  #banner img {
    width: 20rem;
    margin: 4rem;
  }

  #posts-list {
    padding: 4rem;
  }

  .post {
    max-width: 18rem;
  }

  img {
    max-width: 18rem;
    height: auto;
  }
}
