* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/***** HEADER *****/

header {
  width: 100%;
  background-color: #2E948A;
  display: flex;
  justify-content: space-between;
  height: 7.3rem;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header img {
  margin: 1.25rem 0 1.25rem 5.12rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: 6.44rem;
}

nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
  margin-left: 2.62rem;
}

/***** BANNER SECTION *****/

#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

#banner div {
  width: 26.25rem;
}

h1 {
  font-weight: 700;
  font-size: 2.9rem;
  color: #009688;
  margin-bottom: 2.5rem;
  margin-top: 7.6rem;
}

#banner p {
  font-weight: 300;
  font-size: 1.25rem;
}

#banner img {
  margin: 3rem 0 5.5rem;
}

/***** POSTS SECTION *****/

#posts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 7.5rem;
  padding: 6.8rem 6.25rem;
  background-color: #E5E5E5;
}

.post {
  width: 32rem;
}

.img-content {
  width: 32rem;
  height: 16rem;
  background-color: #C4C4C4;
  margin-bottom: 1.25rem;
}

h2 a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.9rem;
  color: #FF4081;
}

.post p {
  font-weight: 300;
  font-size: 1.1rem;
  margin-top: 1.2rem;
}

/***** FOOTER *****/

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #419488;
  padding: 3.125rem 8rem 2.31rem;
}

footer ul li {
  list-style: none;
  padding: .3rem;
}

footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  color: #fff;
}

footer button {
  display: flex;
  position: relative;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  margin-bottom: .81rem;
}

footer button a {
  border: 2px solid #fff;
  border-radius: 62px;
  padding: .87rem 0;
  width: 18.75rem;
}

/***** RESPONSIVE *****/

@media (max-width: 920px) {
  #banner {
    margin: 0 auto;
  }
  #posts-list {
    padding: 6rem 0;
    gap: 4rem;
  }

  .post {
    width: 25rem;
  }

  .img-content {
    width: 25rem;
  }

  footer {
    padding: 2rem;
  }

  footer img {
    width: 10rem;
  }
}

@media (max-width:690px) {
  header img {
    margin: 2rem 3rem;
    width: 7rem;
  }

  nav ul {
    display: block;
    justify-content: center;
    position: relative;
    margin: 0 3rem;
    font-size: 1rem;
    text-align: center;
  }

  nav ul li {
    padding: .2rem;
  }

  nav ul li a {
    margin: 0;
  }

  #banner {
    text-align: center;
    margin: 0 3rem;
  }

  h1 {
    font-size: 2rem;
  }

  #banner img {
    width: 20rem;
    margin: 4rem;
  }

  .post {
    width: 18rem;
  }

  .img-content {
    width: 18rem;
    height: 10rem;
  }

  footer {
    display: block;
    padding: 2rem;
    text-align: center;
  }

  footer ul {
    display: none;
  }

  footer img {
    width: 15rem;
    margin-bottom: 2rem;
  }

  footer button a {
    width: 15rem;
    font-size: 1rem;
  }
}
