* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/***** BANNER SECTION *****/

#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 8.12rem 2rem 0;
}

#banner div {
  margin: 0 auto 4rem;
}

#banner h1 {
  width: 30.5rem;
  font-weight: 700;
  font-size: 3.75rem;
  color: #FF4081;
  margin-bottom: 1.19rem;
}

#banner p {
  width: 23.12rem;
  margin-bottom: 2.34rem;
  color: #555555;
  font-weight: 400;
  font-size: 1.7rem;
}

#banner a {
  font-weight: 400;
  font-size: 1.7rem;
  color: #FF4081;
  text-decoration: none;
  border: 2px solid #FF4081;
  border-radius: 62px;
  padding: .53rem 1.62rem;
}

#banner img {
  max-width: 40%;
  margin: 0 auto 4.12rem;
}

/***** COURSES SECTION *****/

#courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  background-color: #F7F7F7;
}

.course-card {
  max-width: 21.5rem;
  margin: 6.8rem 2.44rem;
}

.course-card img {
  height: 16.9rem;
  margin-bottom: 2.7rem;
}

.course-card h3 {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  color: #FF4081;
  margin-bottom: 1.44rem;
}

.course-card p {
  font-weight: 300;
  font-size: 1.06rem;
  color: #000;
  text-align: center;
  margin-bottom: 2.56rem;
}

.course-card a {
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #FF4081;
  padding: .94rem 3.125rem;
  border-radius: 62px;
}

/***** TESTIMONIALS SECTION *****/

#testimonials h2 {
  font-weight: 700;
  font-size: 2.31rem;
  color: #009688;
  margin: 7.44rem 0 5rem 8rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5.37rem;
  margin-left: 8rem;
  margin-bottom: 8rem;
  margin: 0 8rem 8rem;
}

.testimonial-card {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 32rem;
}

.testimonial-card cite {
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  margin-left: 2.31rem;
}

.testimonial-card cite span {
  font-weight: 500;
}

/***** POSTS SECTION *****/

#posts {
  background-color: #F7F7F7;
  padding-bottom: 3.9rem;
}

#posts h2 {
  font-size: 2.31rem;
  font-weight: 700;
  color: #009688;
  margin: 0 0 4.56rem 8rem;
  padding-top: 5.7rem;
}

#post-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 1rem 6.31rem 8rem;
  row-gap: 4rem;
}

.post-card {
  width: 25rem;
}

.post-card h3 {
  font-weight: 700;
  font-size: 1.7rem;
  color: #009688;
}

.post-card p {
  font-weight: 400;
  font-size: 1.125rem;
  width: 20rem;
}

button {
  display: flex;
  position: relative;
  margin: 0 auto;
  border: none;
}

#posts a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  color: #FF4081;
  border: 2px solid #FF4081;
  border-radius: 62px;
  padding: .62rem 2.56rem;
}

/***** RESPONSIVE *****/

@media (max-width: 920px) {
  #banner {
    text-align: center;
  }

  #banner div {
    padding-bottom: 5rem;
    margin: 0 auto;
  }

  #banner h1 {
    width: 100%;
  }

  #banner p {
    width: 100%;
  }

  #banner img {
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  #courses {
    display: block;
    padding-bottom: 5rem;
  }

  .course-card {
    width: 100%;
    margin: 0 auto;
  }

  .course-card img {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
  }

  .testimonial-card {
    text-align: justify;
    margin: 0 auto;
    padding: 0 3rem;
  }

  #testimonials h2 {
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #posts h2 {
    text-align: center;
    margin: 0 auto 4rem;
    padding: 4rem 2rem 0;
  }

  #post-cards {
    margin: 0 auto;
  }

  .post-card {
    max-width: 30rem;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .post-card p {
    padding-bottom: 5rem;
  }
}

@media (max-width: 690px) {
  #banner {
    text-align: center;
    padding-top: 2rem;
  }

  #banner div {
    padding: 2rem;
    margin: 0 auto;
  }

  #banner h1 {
    font-size: 2rem;
    width: 100%;
  }

  #banner p {
    font-size: 1rem;
    width: 100%;
  }

  #banner a {
    font-size: 1rem;
  }

  #banner img {
    width: 15rem;
    margin: 2rem auto;
    padding-bottom: 2rem;
  }

  #courses {
    display: block;
    padding-bottom: 5rem;
  }

  .course-card {
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
  }

  .course-card img {
    width: 100%;
    max-width: 15rem;
    height: 100%;
    padding-top: 7rem;
  }

  .course-card h3 {
    font-size: 1.5rem;
  }

  .course-card a {
    font-size: 1rem;
  }

  #testimonials h2 {
    font-size: 2rem;
    margin: 4rem auto;
    padding: 0 2rem;
  }

  .testimonial-card {
    flex-wrap: wrap;
  }

  .testimonial-card img {
    margin-bottom: 1.5rem;
  }

  .testimonial-card cite {
    margin: 0 auto;
  } 

  .grid {
    margin: 0 auto 4rem;
    padding: 0 1rem;
  }

  #posts h2 {
    font-size: 1.7rem;
    margin: 0 auto;
    padding: 4rem 1rem;
  }

  #post-cards {
    margin: 0 auto;
    gap: 0;
    justify-content: center;
  }

  .post-card {
    width: 100%;
    max-width: 20rem;
    position: relative;
    justify-content: center;
    margin: 0 auto;
  }

  .post-card img {
    max-width: 100%;
  }

  .post-card h3 {
    width: 100%;
    font-size: 1.5rem;
  }

  .post-card p {
    font-size: 1rem;
    padding-bottom: 5rem;
    width: 100%;
    max-width: 16rem;
  }

  #posts a {
    font-size: 1rem;
    padding: .62rem 2rem;
  }
}