* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/***** HEADER *****/

header {
  width: 100%;
  background-color: #2E948A;
  display: flex;
  justify-content: space-between;
  height: 7.3rem;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header img {
  margin: 1.25rem 0 1.25rem 5.12rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: 6.44rem;
}

nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
  margin-left: 2.62rem;
}

/***** ARTICLE SECTION *****/

h1 {
  font-weight: 500;
  font-size: 3.125rem;
  text-align: center;
  color: #ff4081;
  padding: 6.9rem 12.75rem .6rem;
  margin: 0 auto;
}

#date {
  font-weight: 300;
  font-size: 1.125rem;
  color: #9D9D9D;
  text-align: center;
  margin-bottom: 4.6rem;
}

#img-content {
  background-color: #C4C4C4;
  max-width: 64.5rem;
  height: 29rem;
  position: relative;
  text-align: center;
  justify-content: center;
  margin: 0 auto 4.6rem;
}

article {
  max-width: 93.75rem;
  position: relative;
  justify-content: center;
  margin: 6.9rem auto 0; 
}

article p {
  text-align: justify;
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 1.56rem;
  margin: 0 auto;
  padding: 0 4rem;
}

article h2 {
  font-weight: 500;
  font-size: 1.62rem;
  color: #419488;
  margin: 4.7rem auto 1.56rem;
  padding: 0 4rem;
}

/***** COURSES SECTION *****/

#courses {
  text-align: center;
  background-color: #F7F7F7;
  margin-top: 12.5rem;
}

#courses h2 {
  font-weight: 500;
  font-size: 3.12rem;
  color: #ff4081;
  padding-top: 4.9rem;
}

#courses-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.course-card {
  max-width: 21.5rem;
  margin: 6.8rem 2.44rem;
}

.course-card img {
  height: 16.8rem;
  margin-bottom: 2.7rem;
  margin: 0 auto;
}

.course-card h3 {
  font-weight: 700;
  font-size: 1.56rem;
  text-align: center;
  color: #FF4081;
  margin-bottom: 1.44rem;
}

.course-card p {
  font-weight: 300;
  font-size: 1.06rem;
  color: #000;
  text-align: center;
  margin-bottom: 2.56rem;
}

.course-card a {
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #FF4081;
  padding: 1rem 3.125rem;
  border-radius: 62px;
}

/***** FOOTER *****/

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #419488;
  padding: 3.125rem 8rem 2.31rem;
}

footer ul li {
  list-style: none;
  padding: .3rem;
}

footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  color: #fff;
}

footer button {
  display: flex;
  position: relative;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  margin-bottom: .81rem;
}

footer button a {
  border: 2px solid #fff;
  border-radius: 62px;
  padding: .87rem 0;
  width: 18.75rem;
}

/***** RESPONSIVE *****/

@media (max-width: 920px) {
  h1 {
    padding: 4rem 4rem 1rem;
  }

  article {
    margin: 0 4rem;
  }

  #courses h2 {
    font-size: 2.5rem;
  }

  #courses-cards {
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  .course-card {
    width: 100%;
    margin: 0 auto;
  }

  .course-card img {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
  }

  footer {
    padding: 2rem;
  }

  footer img {
    width: 10rem;
  }
}

@media (max-width:690px) {
  header img {
    margin: 2rem 3rem;
    width: 7rem;
  }

  nav ul {
    display: block;
    justify-content: center;
    position: relative;
    margin: 0 3rem;
    font-size: 1rem;
    text-align: center;
  }

  nav ul li {
    padding: .2rem;
  }

  nav ul li a {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
    padding: 4rem 2rem 2rem;
  }

  /* .img-content {
  
  } */

  #courses-cards {
    display: block;
    padding-bottom: 5rem;
  }

  .course-card {
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
  }

  .course-card img {
    width: 100%;
    max-width: 15rem;
    height: 100%;
    padding-top: 7rem;
  }

  .course-card h3 {
    font-size: 1.5rem;
  }

  .course-card a {
    font-size: 1rem;
  }

  footer {
    display: block;
    padding: 2rem;
    text-align: center;
  }

  footer ul {
    display: none;
  }

  footer img {
    width: 15rem;
    margin-bottom: 2rem;
  }

  footer button a {
    width: 15rem;
    font-size: 1rem;
  }
  
}

